
.services-1st-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
}
.services-2nd-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
}
.services-3rd-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
}

/* responsive services-container */

@media only screen and (max-width: 600px) {
    .services-1st-row{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
}
};

@media only screen and (max-width: 600px) {
    .services-2nd-row{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
}
};
@media only screen and (max-width: 600px) {
    .services-3rd-row{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
}
};
